version: 0.0.0+{build}

skip_tags: true

skip_branch_with_pr: true

build:
  verbosity: minimal

test: false

environment:
  SQL_INSTANCE_NAME: SQL2017
  matrix:
  # BuildMaster 2023
  - job_name: BuildMaster 2023 / Windows PowerShell 5.1 / PowerShell 6 on Windows
    job_group: ps_and_pwsh
    appveyor_build_worker_image: Visual Studio 2017
    BUILDMASTER_VERSION: &bm_2023_version 23.0.22

  - job_name: BuildMaster 2023 / PowerShell 7 on Windows
    job_group: pwsh
    appveyor_build_worker_image: Visual Studio 2022
    BUILDMASTER_VERSION: *bm_2023_version

  # BuildMaster 2024
  - job_name: BuildMaster 2024 / Windows PowerShell 5.1 / PowerShell 6 on Windows
    job_group: ps_and_pwsh
    appveyor_build_worker_image: Visual Studio 2017
    BUILDMASTER_VERSION: &bm_2024_version 24.0.10

  - job_name: BuildMaster 2024 / PowerShell 7 on Windows
    job_group: pwsh
    appveyor_build_worker_image: Visual Studio 2022
    BUILDMASTER_VERSION: *bm_2024_version

  # BuildMaster 2025
  - job_name: BuildMaster 2023 / Windows PowerShell 5.1 / PowerShell 6 on Windows
    job_group: ps_and_pwsh
    appveyor_build_worker_image: Visual Studio 2017
    BUILDMASTER_VERSION: &bm_2025_version 25.0.8

  - job_name: BuildMaster 2023 / PowerShell 7 on Windows
    job_group: pwsh
    appveyor_build_worker_image: Visual Studio 2022
    BUILDMASTER_VERSION: *bm_2025_version

artifacts:
- path: .output\*

for:
- matrix:
    only:
    - job_group: ps_and_pwsh
  services: mssql2017
  before_build:
  # Run in separate process from rest of build to prevent old versions of PackageManagement/PowerShellGet from loading.
  - ps: &enable_rdp |
      if ((Test-Path -Path 'env:ENABLE_RDP') -and $env:ENABLE_RDP -eq 'True')
      {
        $blockRdp = (Test-Path -Path 'env:BLOCK_RDP') -and $env:BLOCK_RDP -eq 'True'
        $nonat = $false
        iex ((new-object net.webclient).DownloadString('https://raw.githubusercontent.com/appveyor/ci/master/scripts/enable-rdp.ps1'))
      }
  - ps: &before_build |
      $ProgressPreference = 'SilentlyContinue'
      iwr https://raw.githubusercontent.com/webmd-health-services/Prism/main/Scripts/init.ps1 | iex | Format-Table
  build_script:
  - ps: &build_ps1 |
      prism install | Format-Table
      .\init.ps1 -Version $env:BUILDMASTER_VERSION
      .\build.ps1 -PipelineName 'Build'
  - ps: &test_ps1 |
      $PSVersionTable | Format-Table
      .\build.ps1 -PipelineName 'Test'
  - pwsh: *test_ps1
  on_finish:
  - ps: &upload_test_results |
      $jobID = $env:APPVEYOR_JOB_ID
      $resultsXmlPaths = Resolve-Path -Path '.output\pester*.xml'
      foreach ($resultsXmlPath in $resultsXmlPaths)
      {
        [Net.WebClient]::New().UploadFile("https://ci.appveyor.com/api/testresults/nunit/${jobID}", $resultsXmlPath)
      }

- matrix:
    only:
    - job_group: pwsh
  services: mssql2017
  before_build:
  - pwsh: *enable_rdp
  - pwsh: *before_build
  build_script:
  - pwsh: *build_ps1
  - pwsh: *test_ps1
  on_finish:
  - pwsh: *upload_test_results
