version: 0.0.0+{build}

skip_tags: true

skip_branch_with_pr: true

build:
  verbosity: minimal

test: false

environment:
  WHISKEY_DISABLE_ERROR_FORMAT: True
  matrix:
  # - job_name: Windows PowerShell 5.1/.NET 4.6.2
  #   job_group: ps_sql2014
  #   appveyor_build_worker_image: Visual Studio 2013

  - job_name: Windows PowerShell 5.1/.NET 4.8
    job_group: ps_sql2019
    appveyor_build_worker_image: Visual Studio 2019

  - job_name: PowerShell 6.2 on Windows
    job_group: pwsh_sql2016
    appveyor_build_worker_image: Visual Studio 2015

  - job_name: PowerShell 7.1 on Windows
    job_group: pwsh_sql2017
    appveyor_build_worker_image: Visual Studio 2019

  - job_name: PowerShell 7.2 on Windows
    job_group: pwsh_sql2019
    appveyor_build_worker_image: Visual Studio 2022

artifacts:
- path: .output\*

for:
- matrix:
    only:
    - job_group: ps_sql2014
  services: mssql2014
  environment:
    SQL_INSTANCE_NAME: SQL2014
  build_script:
  - ps: &build_ps1 |
      $ProgressPreference = 'SilentlyContinue'
      iwr https://raw.githubusercontent.com/webmd-health-services/Prism/main/Scripts/init.ps1 | iex | Format-Table
      .\build.ps1
  on_finish:
  - ps: &upload_test_results |
      $jobID = $env:APPVEYOR_JOB_ID
      $resultsXmlPaths = Resolve-Path -Path '.output\pester*.xml'
      foreach ($resultsXmlPath in $resultsXmlPath)
      {
        [Net.WebClient]::New().UploadFile("https://ci.appveyor.com/api/testresults/nunit/${jobID}", $resultsXmlPath)
      }

- matrix:
    only:
    - job_group: ps_sql2019
  services: mssql2019
  environment:
    SQL_INSTANCE_NAME: SQL2019
  init: net start mssql$sql2019
  build_script:
  - ps: *build_ps1
  on_finish:
  - ps: *upload_test_results

- matrix:
    only:
    - job_group: pwsh_sql2016
  services: mssql2016
  environment:
    SQL_INSTANCE_NAME: SQL2016
  build_script:
  - pwsh: *build_ps1
  on_finish:
  - pwsh: *upload_test_results

- matrix:
    only:
    - job_group: pwsh_sql2017
  services: mssql2017
  environment:
    SQL_INSTANCE_NAME: SQL2017
  build_script:
  - pwsh: *build_ps1
  on_finish:
  - pwsh: *upload_test_results
- matrix:
    only:
    - job_group: pwsh_sql2019
  environment:
    SQL_INSTANCE_NAME: SQL2019
  init: net start mssql$sql2019
  build_script:
  - pwsh: *build_ps1
  on_finish:
  - pwsh: *upload_test_results